<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1 class="title">What's the weather like?</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.name }}
        <button type="submit" class="button is-info">
            Add City
        </button>
    </form>
    {% for city_weather in weather_data %}
    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
    <p>{{ city_weather.city }}</p>
    <p>{{ city_weather.temperature }}</p>
    <p>{{ city_weather.description }}</p>
    {% endfor %}
</body>

</html>

